/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans');*/
@font-face {
    font-family: 'Fira Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Fira Sans Regular'), local('FiraSans-Regular'), url(public/fonts/va9E4kDNxMZdWfMOD5Vvk4jLeTY.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

*::selection{
    background: rgba(28, 238, 175, 0.473);
}

hr{
    padding-left: 1px;
    height: 1px;
    background: black;
}

body{
    background:rgb(215, 215, 215);
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}

.bigBlock{
	margin-top:0px !important;
	margin-left:auto;
	margin-right:auto;
	width: 700px;
	height:98vh;
	padding-top:2vh;
	background:#e2d5db;
	display:block;
	border-radius:0px;
	-webkit-box-shadow: 0px 0px 40px 13px rgba(0,0,0,0.31);
	-moz-box-shadow: 0px 0px 40px 13px rgba(0,0,0,0.31);
	box-shadow: 0px 0px 40px 13px rgba(0,0,0,0.31);
}

.content{
	margin-top:auto;
	margin-left:auto;
	margin-right:auto;
    width:96%;
	height:88%;
    /*background: gray;*/
    /*position: absolute;  /* !IMPORTANT! CSS 2.1 pt 10.5.*/
    display: block;
    border-radius: 0px;
}

#mgs{
	margin:4px;
    text-align: left;
    font-weight: normal;
    font-family: 'Fira Sans', sans-serif;
    background: white;
    display: block;
	border:2px solid #5b5b5b;
	border-radius:2px;
    width: 77%;
    min-height:98%;
	max-height:100%;
	float:left;
    overflow: auto;
    padding-top: 0px;
}

.rooms{
	margin:4px;
    width: 130px;
    font-family: 'Fira Sans', sans-serif;
    max-height:80vh;
    background: white;
	border:2px solid #5b5b5b;
	border-radius:2px;
    float: right;
}

.roomName{
    padding-top:2px;
    padding-bottom: 2px;
    width:auto;
    display:block;
    border-top: 1px solid #5b5b5b;
    text-align:center;
    text-decoration: none;
    color:rgb(0, 0, 0);
    transition:0.3s;
    cursor: pointer;
}
.roomName:hover{
    background: rgb(0, 0, 0);
    color:white;
    border-radius: 0px;
}

.inputs{
	margin-left:2%;
	margin-top: 15px;
	width:75%;
    height: auto;
    display: block;
	background:none;
    border-radius: 0px;
    float:left;
    /*outline-color: rgba(255, 171, 16, 0.74);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.49); 
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.49);*/
}

input[type="text"]{
	outline-color: rgba(255, 171, 16, 0.247);
	margin-left:3px;
    display: block;
	width:90%;
    height: 30px;
    border-right:0px solid transparent;
	border-top: 2px solid #5b5b5b;
	border-left:2px solid #5b5b5b;
	border-bottom: 2px solid #5b5b5b;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 6px;
    border-radius: 1px;
	float:left;
}

input[type="text"]:hover{
    outline-color: rgba(255, 171, 16, 0.247);
}

input[type="button"]{
	margin:0;
	text-align:center;
	font-size:9px;
    font-family: 'Fira Sans', sans-serif;
    display:block;
    width: auto;
    height: 36px;
    background: #fff;
    border:2px solid #5b5b5b;
    border-radius: 1px;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
	float:rigth;
}

input[type="button"]:hover{
    color: #fff;
    background: rgb(0, 0, 0);
    border: 1px solid black;
}