/*@import url('https://fonts.googleapis.com/css?family=Fira+Sans');*/

*{
    margin: 0;
    font-family: 'Fira Sans', sans-serif;
}

*::selection{
    background: rgba(28, 238, 175, 0.473);
}

hr{
    padding-left: 1px;
    height: 1px;
    background: black;
}

body{
    background:rgb(255, 255, 255);
    height: 100%;
    font-family: 'Fira Sans', sans-serif;
}


.content{
    margin-top: 0px;
    margin-left: 24%;
    margin-right: 24%;
    margin-bottom: 60px;
    width: 50%;
    min-height: calc(100vh - 60px);
    height: auto;
    background: rgb(255, 255, 255);
    /*position: absolute;  /* !IMPORTANT! CSS 2.1 pt 10.5.*/
    display: block;
    border-left: 2px solid black;
    border-radius: 0px;
    float: left;
}

#mgs{
    text-align: left;
    font-weight: bold;
    font-family: 'Fira Sans', sans-serif;
    background: rgb(255, 255, 255);
    display: block;
    width: 80%;
    min-height: 40vh;
    height: auto;
    float: left;
    padding-top: 20px;
}

.rooms{
    margin-top:0px;
    margin-left: 0;
    width: 10%;
    left: 63.56vw;
    font-family: 'Fira Sans', sans-serif;
    min-height: calc(100vh - 60px);
    height: auto;
    background: rgb(255, 255, 255);
    float: left;
    position: fixed;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

.roomName{
    padding-top:2px;
    padding-bottom: 2px;
    width:100%;
    display:block;
    text-align:center;
    text-decoration: none;
    color:rgb(0, 0, 0);
    transition:0.3s;
    cursor: pointer;
}
.roomName:hover{
    background: rgb(0, 0, 0);
    color:white;
    border-radius: 0px;
}

.inputs{
    /*margin-top: calc(99vh-20);*/
    margin-left: 24%;
    margin-right: 24%;
    margin-bottom: 10px;
    width: 50%;
    height: auto;
    display: block;
    border-radius: 4px;
    position: fixed;
    float: left;
    bottom: 0px;
}

input[type="text"]{
    display: inline-block;
    width: 77%;
    height: 30px;
    border: 2px solid black;
    font-family: 'Fira Sans', sans-serif;
    padding-left: 4px;
    border-radius: 4px;
    outline-color: rgba(255, 171, 16, 0.74);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.49); 
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.49);
}

input[type="text"]:hover{
    outline-color: rgba(255, 171, 16, 0.247);
}

input[type="button"]{
    font-family: 'Fira Sans', sans-serif;
    display: inline-block;
    width: 18%;
    height: 36px;
    margin-left: 2%;
    background: #fff;
    border: 2px solid black;
    border-radius: 4px;
    transition: 0.3s;
    cursor: pointer;
    outline: none;
    outline-color: rgba(255, 72, 16, 0.74);
    -webkit-box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.49); 
    box-shadow: 0px 2px 14px 1px rgba(0,0,0,0.49);
}

input[type="button"]:hover{
    color: #fff;
    background: rgb(0, 0, 0);
    border: 2px solid black;
    border-radius: 4px;
}